$primary-color: #330066;
$secondary-color: #990099;
$milk-white: #e6e6e6;
$primary-text-color: white;
$secondary-text-color: #000000;
$gardient-color: -webkit-linear-gradient(right, $primary-color, $secondary-color);
$gardient-color2: -webkit-linear-gradient(right, $secondary-color, $primary-color);
$shadow:0px 1px 8px #262927;; 