@font-face {
    font-family: heroFont;
    src: url(../font/heroAssemble.ttf);
}

@font-face {
    font-family: primaryFont;
    src: url(../font/Helvetica.ttf);
}


@font-face {
    font-family: secoandaryFont;
    src: url(../font/helvetica-rounded-bold-5871d05ead8de.otf);
}


@font-face {
    font-family: ageOfUtron;
    src: url(../font/Age_of_Ultron.ttf);
}